@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
    display: flex;
    margin: 0;
    background-color: #4682B4;
    font-family: 'Mulish', sans-serif;
}

.container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 425px;
    color: white;
    background-color: #2B4E6C;
    border-radius: 5px;
}

.container h1{
    text-align: center;
    padding: 10px;
}

.inputs-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    padding-top: 0;
}

.inputs-container input{
    height: 40px;
    width: 80%;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: large;
    background-color: #2B4E6C;
}

input{
    margin-bottom: 30px;
}

input:focus{
    outline: none;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    height: 50px;
    font-size: medium;
    background-color: #ADD8E6;
    border: none;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

p{
    display: flex;
    justify-content: start;
    align-items: start;
    margin: auto;
    margin-top: 25px;
    width: 80%;
}

p a{
    margin-left: 5px;
    text-decoration: none;
    color: #ADD8E6;
}

label{
    display: flex;
    justify-content: start;
    align-items: start;
    margin: auto;
    width: 80%;
}

#emailLabel{
    position: absolute;
    top: 13px;
    left: 45px;
}

#passwordLabel{
    position: absolute;
    top: 82px;
    left: 45px;
}

.emailSpan{
    transition: 0.5s;
}

.passwordSpan{
    transition: 0.5s;
}