@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
    display: flex;
    margin: 0;
    background-color: #4682B4;
    font-family: 'Mulish', sans-serif;
}

.container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 425px;
    color: white;
    background-color: #2B4E6C;
    border-radius: 5px;
}

.container h1{
    text-align: center;
    padding: 10px;
}