@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
    display: flex;
    margin: 0;
    background-color: #4682B4;
    font-family: 'Mulish', sans-serif;
}

.container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 425px;
    color: white;
    background-color: #2B4E6C;
    border-radius: 5px;
}

.container h1{
    text-align: center;
    padding: 10px;
}

.inputs-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.inputs-container input{
    margin: 15px;
    height: 40px;
    width: 80%;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: large;
    background-color: #2B4E6C;
}

input:focus{
    outline: none;
}